body {
  background-color:#9ACD32
}
h1 {
  text-align: center;
  color: black;
  font-family:font-weight;
}
h2{
  text-align:center;
  font-family:font-weight;
}
h3{
  text-align:center;
  font-family:font-weight;
}
mark{
  background-color:cyan;
}
p{
  text-align:left;
}


